@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  padding-top: 70px;
  font-family: "Slabo", sans-serif;
  font-weight: bold;
  margin: auto 0;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

img {
    height:250px; 
    width: auto;
}

/*nav*/
#heart2heartnavbar.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#heart2heartnavbar.navbar-default {
    font-size: 17px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 0px;
}
#heart2heartnavbar.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
#heart2heartnavbar.navbar-default .navbar-nav>li>a:hover,
#heart2heartnavbar.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
#heart2heartnavbar.navbar-default .navbar-nav>.active>a,
#heart2heartnavbar.navbar-default .navbar-nav>.active>a:hover,
#heart2heartnavbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#heart2heartnavbar.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#heart2heartnavbar.navbar-default .navbar-toggle:hover,
#heart2heartnavbar.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#heart2heartnavbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#heart2heartnavbar.navbar-default .navbar-toggle:hover .icon-bar,
#heart2heartnavbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
