{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prototype Dating Website made with Bootstrap">
    <meta name="author" content="Que Tran">

    <title>heart2heart_Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'default.css' %}">

</head>

<body>
    <!-- Navigation -->
{% include "includes/nav.html" %}



    <!-- Page Content -->
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">KateSmith</h3>
        </div>
        <div class="panel-body">
          <img src="/media/img/girl-people-landscape-sun-38554.jpeg" alt="KateSmith">
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications</h3>
        </div>
        <div class="panel-body">
          You have no new messages. Start a conversation!
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Who's Viewed Your Profile</h3>
        </div>
        <div class="panel-body">
          <img src="/media/img/1.jpg" alt="">
          <img src="/media/img/2imVDbSC_400x400.jpeg" alt="">
          <img src="/media/img/hi540.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
